$background-color: #32394b;
$main-panel-color: #282f41;
$font-color: white;

body {
  background-color: $background-color;
  color: $font-color;
}

.row.content {
  height: 1500px; 
}

.side-nav {
  height: 100%; 
  padding-left:1rem;

  span.glyphicon {
    padding-right:.5rem;
  }
}

.main {
  display: flex;
  height:100%;

  .main-container {
    border-radius: 20px;
    padding: 2rem;
    width:100%;
    background-color:$main-panel-color; 
  } 
}

@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px; }
  .row.content {
    height: auto; 
  } 
  .main {
    .main-container {
      border-radius: 0;
      padding: 2rem;
      width:100%;
      background-color: $background-color;
    }
  }
}
 